@charset "utf-8";
/* CSS Document */

		*
		  {
			  color: black;
			  
		  }

		p
		{
			text-align: justify;
		}
			
		  h1

		   {			
			  color:#11347E;
		   }

		  h2

		  {
			  color:green;
		  }		  

		  h3

		  {
			  color:#770B4B;
		  }
